In [1]:
import pandas as pd

In [3]:
D_path = "/fp/homes01/u01/ec-javedm/ec85/models/shahzad/highRES-model/results/models/2010/2010_grid_0.09_0.15_0.2/BASE_demand_2010.dd"

In [6]:
D_data = pd.read_csv(D_path, sep=' ', skiprows=2, names=['month', 'demand'], engine='python')

In [7]:
D_data

           month  demand
0         NO03.0  2218.2
1         NO03.1  2189.8
2         NO03.2  2178.4
3         NO03.3  2180.3
4         NO03.4  2237.7
...          ...     ...
87597  NO54.8757  1595.4
87598  NO54.8758  1535.8
87599  NO54.8759  1472.5
87600          /     NaN
87601        NaN     NaN

[87602 rows x 2 columns]

In [8]:
D_data = D_data[:-2]

In [9]:
D_data

           month  demand
0         NO03.0  2218.2
1         NO03.1  2189.8
2         NO03.2  2178.4
3         NO03.3  2180.3
4         NO03.4  2237.7
...          ...     ...
87595  NO54.8755  1694.7
87596  NO54.8756  1660.6
87597  NO54.8757  1595.4
87598  NO54.8758  1535.8
87599  NO54.8759  1472.5

[87600 rows x 2 columns]

In [12]:
total_demand_mwh = (D_data['demand'].sum())/1000

In [13]:
total_demand_mwh

183866.2838